body{
    width: 100%;
    height: 100%;
}
/*Navigation bar*/

.navbar .brand {
    margin: 0;
    font-size: 40px;
    line-height: 0px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .5s;  
    color: #fb9b74; 
}
.navbar {
    position: absolute;
    width: 100%;
    padding: 30px 60px;
    transition: .5s;
    z-index: 999;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 10px 8px 10px;
    color: #637373;
    font-size: 15px;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #fb9b74;
}
/*Home page*/
.me {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y:hidden;
    padding: 120px 0 95px 0;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.me .me-image {
    position: relative;
    text-align: right;
    padding-right: 75px;
}

.me .me-image img {
    max-width: 50%;
    max-height: 50%;
    margin-right: 50px;
    padding-top:40px;
    transition: .5s;
    border-radius: 10px;

}
.me .me-content {
    position: relative;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.me .me-text p {
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding-top: 60px;
    margin-bottom: 15px;
}
.me .me-text h1 {
    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
    transition: .5s;
}

.me .me-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #4ac5c3;
    font-size: 35px;
    font-weight: 600;
    transition: .5s;
}

.me .me-text .typed-text {
    color: #4ac5c3;
    font-size: 26px;
    height: 200px;
    transition: .5s;
}

.me .me-btn .btn {
    margin-top: 18px;
    color: #4ac5c3;
    background: #ffffff;
    font-size: 25px;
}
.me .me-btn .btn:hover {
    color:#fb9b74;
    background:transparent;
    box-shadow: inset 0 0 0 0 black;
    border-color:#fb9b74;
    font-style: bold;
}

.me .me-btn .btn:first-child {
    padding-right: 10px;
}

/*About Page*/
#about{
    background-image: url('4.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding-top:200px;
    padding-bottom: 13%;
}
.about-text{
    padding-left: 150px;
    transition: 1s;
}
.about-text h3{
    padding:5px;
    color: black;
}
.about-text p{
    width:70%;
}
.about-text .btn {
    margin-top: 35px;
    color: #4ac5c3;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
    border:none;
}
.about-text .btn:hover {
    color: #4ac5c3;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #4ac5c3;
    border: solid 1px;
}
.img-about{
    padding-left: 50px;
    transition: 1s;
}

/*Experience Page*/
.experience {
    position: relative;
    padding: 45px 0 15px 0;
    background-image: url('2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.experience .timeline {
    position: relative;
    width: 100%;
}
.experience .section-header p{
    margin-top: 80px;
    transition: .5s;
}
.experience .section-header h2{
    padding-top: 10px;
    padding-bottom: 15px;
    transition: .5s;
}
.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #637373;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}
.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
    transition: 1s;
}
.experience .timeline .timeline-text h2{
    color:#fb9b74;
}
.experience .section-header h2{
    color:#637373;
}
.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}
.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}
.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #fb9b74;
    border-radius: 16px;
    z-index: 1;
}
.experience .timeline .timeline-item.right::after {
    left: -8px;
}
.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #637373;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}
.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}
.experience .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
}
.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}
.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

/*Contact Page*/
.contact {
    position: relative;
    width: 100%;
    padding-top: 12%;
    padding-right: 20%;
    background-image: url('3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact .contact-form {
    position: relative;
    padding: 90px 100px 90px 0;
    background:transparent;
    transition: 1s;
}
.contact .contact-form input {
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #fb9b74;
}
.contact .contact-form textarea {
    color:black;
    opacity: 1;
    height: 90px;
    padding: 10px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #fb9b74;
}
.contact .contact-form .form-control::placeholder {
    color: #fb9b74;
    opacity: 1;
}
.contact .contact-form .form-control:-ms-input-placeholder,
.contact .contact-form .form-control::-ms-input-placeholder {
    color: #fb9b74;
}
.contact .contact-form .btn {
    margin-top: 35px;
    color: #4ac5c3;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}
.contact .contact-form .btn:hover {
    color: #4ac5c3;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #4ac5c3;
}
.contact-me{
    text-align: center;
    margin-top: -40px;
}

/*Footer*/
.footer {
    position: relative;
    background: #fff9f6;
}
.footer .container-fluid {
    padding: 60px 0 0 0;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer .footer-info h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fb9b74;
}

.footer .footer-info h5 {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #fb9b74;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: black;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 15px;
    border-right: 1px solid black;
}

.footer .footer-menu p:last-child {
    border: none;
}

.footer .copyright {
    position: relative;
    text-align: center;
    padding-bottom: 25px;
}
.footer .copyright p {
    margin: 0;
    color: black;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: black;
    font-weight: 600;
}

.footer .copyright p a:hover {
    color: #414141;
}